header {
    width: 100%;
    height: 10vh;
    padding: 0rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0C134F;
    color: white;
  }
  
  .logo {
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  nav > ul {
    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: space-evenly;
    font-size: 1.2rem;
  }

  .index > li > a {
    text-decoration: none;
  }

  .active {
    color: yellow;
  }

  .notactive {
    color: #e9e1f1;
  }