header {
  width: 100%;
  height: 10vh;
  padding: 0rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(0, 9, 106);
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.none {
  display: inline;
}
.index {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

.index > li > a {
  text-decoration: none;
}

.active {
  color: rgb(55, 0, 255);
}

.notactive {
  color: #25004b;
}

.ham-menu {
  display: none;
}

.ham-nav {
  display: inline;
}


.nav  {
  display: inline;
}

@media screen and (max-width : 1024px) {
  .ham-menu {
    display: inline;
  }

  .ham-nav {
    display: inline;
  }

  .none {
    display: none;
  }
  .index {
    position: absolute;
    top: 8vh;
    left: 0;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    gap: 0.4rem;
    padding: 0.5rem 0rem;
    z-index: 5;
  }
}